table{
    color: #592941;
    background-color: #52B788;
    width: 80%;
    
}

th, td{
    background-color: #498467;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDE5A6;
    
}

.control-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #52B788;
    margin-bottom: 10%;
}

.control-element{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
}

.mod-con{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

input{
    width: 80%;
    background-color: #498467;
    border: none;
    border-radius: 15px;
    transition: background-color 0.2s;
    float: right;
}

input:hover, input:focus, textarea:hover, textarea:focus, button:hover, select:hover{
    background-color: #B2D3A8;
}

textarea{
    width: 80%;
    background-color: #498467;
    border: none;
    border-radius: 15px;
    padding: 8px;
    transition: background-color 0.2s;
}

label, h3, td{
    color: #592941;
    font-weight: bold;
}

select{
    background-color: #498467;
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: background-color 0.2s;
    color: #592941;
}

button{
    background-color: #498467;
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: background-color 0.2s;
    color: #592941;
}

.negyven{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hatvan{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}